<footer class="bg-black text-gray-300 mt-6 py-10 static">
    <div class="flex flex-col sm:flex-row justify-around max-w-7xl mx-auto">
        <div class="flex flex-row justify-center items-center text-blue hover:text-white focus:text-white">
            <div class="flex-none mx-3">
                <i class="fa fa-map-marked"></i>
            </div>
            <div>
                <a href="https://goo.gl/maps/JTr461A51ZeNN21N8">42 West St. #202<br>Brooklyn, NY 11222</a>
            </div>
        </div>
        <div class="flex flex-row justify-center items-center my-3 sm:my-0">
            <div class="flex-none mx-3">
                <i class="far fa-copyright"></i>
            </div>
            <div>
                <p>2020 North Brooklyn Angels</p>
            </div>
        </div>
        <div class="flex flex-row justify-center items-center">
            <div class="flex-none mx-3">
                <i class="fa fa-at"></i>
            </div>
            <p>Designed by Francis Sheehan</p>
        </div>
    </div>
</footer>