{{ define "title" }}
    {{ if ne .Title "" }}
        {{ .Title }} &ndash; {{ .Site.Title }}
    {{ else }}
        {{ .Site.Title }}
    {{ end }}
{{ end }}

{{ define "main" }}
<div class="container mx-auto md:px-16 px-6 markdown">
    <header>
    {{ if ne (.Params.headerimage | default "") "" }}
        <!-- Figure out aspect ratio stuff -->
        {{ $articleImage := .Page.Resources.GetMatch (printf "*%s*" .Params.headerimage) }}
        {{ if not $articleImage }}
            {{ errorf (print "Invalid image error! Image \"" .Params.headerimage "\" not found") }}
        {{ end }}

        <figure class="relative article-header">
            {{ partial "utility/picture.html" (dict "context" . "image" .Params.headerimage) }}
            <div class="sm:bottom-0 sm:absolute sm:bg-black sm:bg-opacity-70 w-full z-10 p-4 article-header">
                <h1 class="mb-0">{{ .Title }}</h1>
            </div>
        </figure>
    {{ else }}
        <h1>{{ .Title }}</h1>
    {{ end }}
    {{ partial "utility/breadcrumbs-post.html" . }}
    </header>
    <article>
        {{ .Content }}
    </article>
</div>
{{ end }}
