{{ define "title" }}
  {{ if ne .Title "" }}
    {{ .Title }} &ndash; {{ .Site.Title }}
  {{ else }}
    {{ .Site.Title }}
  {{ end }}
{{ end }}

{{ define "main" }}
<div class='container mx-auto md:px-16 px-6 markdown{{with .Params.HeaderFontFamily}} font-header-{{.}}{{end}}{{with .Params.BodyFontFamily}} font-body-{{.}}{{end}}'>
  <header>
    <h1>{{ .Title }}</h1>
    {{ if isset .Params "subtitle" }}
      <h3>{{ .Params.subtitle }}</h3>
    {{ end }}
    {{ partial "utility/breadcrumbs.html" . }}
  </header>
  <article>
    {{ .Content }}
  </article>
</div>
{{ end }}