{{ define "title" }}
  {{ if ne .Title "" }}
    {{ .Title }} &ndash; {{ .Site.Title }}
  {{ else }}
    {{ .Site.Title }}
  {{ end }}
{{ end }}

{{ define "main" }}
<div class="container mx-auto md:px-16 px-6 markdown">
  <header>
    {{ if eq .Params.headerFontFamily "alt" }}
      <h1 class="font-header-alt">{{ .Title }}</h1>
    {{ else }}
      <h1>{{ .Title }}</h1>
    {{ end }}
    {{ partial "utility/breadcrumbs.html" . }}

    {{ if isset .Params "hero" }}
      <div class="mb-4">
        {{ partial "utility/picture.html" (dict "context" . "image" .Params.hero "altText" .Params.heroAltText "command" .Params.heroCommand "options" .Params.heroOptions "otherClasses" .Params.heroOtherClasses) }}
      </div>
    {{ end }}
  </header>

  {{ if isset .Params "toc" }}
    <aside class="lg:float-right pt-2 mb-4 lg:ml-4 lg:pr-8 lg:min-w-80 lg:max-w-96 border rounded-xl border-gray-300 dark:border-gray-700 bg-gray-100 dark:bg-gray-800">
      {{ .TableOfContents }}
    </aside>
  {{ end }}
  <article>
    {{ .Content }}
  </article>
</div>
{{ end }}