<div id="donation-form" class="grid grid-cols-5 lg:grid-cols-7 gap-y-6">
    <div class="col-span-full lg:col-span-2 py-2">
        <label class="font-bold" for="amount-quick-select">Quick Select</label>
    </div>
    <div id="amount-quick-select" class="grid grid-cols-5 col-span-full lg:col-span-5 transition">
        <button id="btn-qs-25" class="w-full py-2 hover:bg-blue active:bg-blue hover:text-darkblue active:text-black transition border-t border-l border-b border-blue rounded-l-md">$25</button>
        <button id="btn-qs-50" class="w-full py-2 hover:bg-blue active:bg-blue hover:text-darkblue active:text-black transition border-t border-l border-b border-blue">$50</button>
        <button id="btn-qs-100" class="w-full py-2 hover:bg-blue active:bg-blue hover:text-darkblue active:text-black transition border-t border-l border-b border-blue">$100</button>
        <button id="btn-qs-250" class="w-full py-2 hover:bg-blue active:bg-blue hover:text-darkblue active:text-black transition border-t border-l border-b border-blue">$250</button>
        <button id="btn-qs-1000" class="w-full py-2 hover:bg-blue active:bg-blue hover:text-darkblue active:text-black transition border border-blue rounded-r-md">$1000</button>
    </div>
    <div class="col-span-full lg:col-span-2 py-3">
        <label class="font-bold" for="input-amount-entry">Amount</label>
    </div>
    <div class="relative col-span-full lg:col-span-5">
        <span class="absolute inset-y-0 left-0 pl-3 py-3">
            <i class="icon-dollar"></i>
        </span>
        <input id="input-amount-entry" class="py-3 pl-8 pr-3 rounded-md w-full border border-gray-300 dark:bg-gray-900 dark:border-gray-700" type="number" min="0" step="0.01" aria-label="Donation Amount" required>
    </div>
    <div class="grid grid-cols-4 gap-4 auto-cols-auto col-span-full">
        <button id="btn-donate-once" type="submit" class="col-start-2 w-full py-2 bg-blue hover:bg-darkblue active:bg-darkblue text-black hover:text-white active:text-white rounded-md transition">Donate Once</button>
        <button id="btn-donate-recurring" type="submit" class="w-full py-2 bg-blue hover:bg-darkblue active:bg-darkblue text-black hover:text-white active:text-white rounded-md transition">Donate Monthly</button>
    </div>
    <div class="hidden"> <!-- If you come across this, this is a quick and dirty way to ensure the PayPal form is properly constructed. -->
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="donate-once-form">
            <input type="hidden" name="business" value="northbrooklynangels@gmail.com">
            <input type="hidden" name="cmd" value="_donations">
            <input type="hidden" name="item_name" value="North Brooklyn Angels One-Time Donation">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="charset" value="utf-8">
            <input id="input-amount-once" type="number" name="amount">
            <button id="btn-hidden-donate-once"></button>
        </form>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="form-donate-recurring">
            <input type="hidden" name="business" value="northbrooklynangels@gmail.com">
            <input type="hidden" name="cmd" value="_xclick-subscriptions">
            <input type="hidden" name="item_name" value="North Brooklyn Angels Monthly Donation">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="no_note" value="1">
            <input type="hidden" name="no_shipping" value="1">
            <input type="hidden" name="src" value="1">
            <input type="hidden" name="p3" value="1">
            <input type="hidden" name="t3" value="M">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="no_shipping" value="2">
            <input type="hidden" name="charset" value="utf-8">
            <input id="input-amount-recurring" type="number" name="a3">
            <button id="btn-hidden-donate-recurring"></button>
        </form>
    </div>
</div>