{{ $name := .Get "name" | default "" }}
{{ $description := .Get "description" | default "" }}
{{ $image := .Get "image" | default "" }}
{{ $imageAlignment := (print  "200x200 " (.Get "imageAlignment")) | default "200x200 Smart" }}

{{ if eq $name "" }}
    {{ errorf "Profile entry processing error: Must supply name!" }}
{{ end }}

<div class="grid grid-cols-12 gap-x-2 my-2">
    <figure class="col-span-3 sm:col-span-2 md:row-span-2 p-2 pl-0">
        {{ if ne $image "" }}
            {{ partial "utility/picture-lightbox.html" (dict "context" . "image" $image "altText" $name "command" "fill" "options" $imageOptions "rounded" true "caption" $name) }}
        {{ else }}
            <!-- TODO: Replace this with a hosted placeholder instead -->
            <picture><img src="https://via.placeholder.com/200?text=No+image+supplied" title="No image supplied" class="rounded-md"></picture>
        {{ end }}
    </figure>
    <div class="col-span-9 md:col-span-10 flex items-center md:items-start md:pt-0.5 md:mt-px">
        {{ if ne $description "" }}
            <!-- The size trickery is to get around how Bebas Neue renders -->
            <h3 class="align-middle md:align-top">{{- $name -}}<br>
            <span class="text-xl">{{- $description -}}</span></h3>
        {{ else }}
            <h3 class="align-middle md:align-top">{{- $name -}}</h3>
        {{ end }}
    </div>
    <section class="col-span-full md:col-span-10">
        {{ .Inner }}
    </section>
</div>