@tailwind base;
@tailwind components;
@tailwind utilities;

@import "icons";

.toggle-dot {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.05s ease-in-out;
}

input:checked ~ .toggle-dot {
    transform: translateX(100%);
}

// @apply doesn't work properly with SCSS for some reason
.markdown {
    // Headings
    h1, h2, h3, h4, h5, h6 {
        @apply font-headers;
        @apply mb-2;
    }
    .profile, .post-list {
        h1, h2, h3, h4, h5, h6 {
            @apply font-headers;
            @apply mb-0;
        }
    }
    h1 {
        @apply text-5xl;
    }
    h2 {
        @apply text-4xl;
    }
    h3 {
        @apply text-3xl;
    }
    h4 {
        @apply text-2xl;
    }
    h5 {
        @apply text-xl;
    }
    h6 {
        @apply text-lg;
    }

    // Is there a reason why we weren't doing this before for the main .markdown class?
    // I'm not sure, so at least until something breaks in it goes
    a {
        @apply underline;
        @apply font-medium;

        color: theme("colors.darkblue");

        .dark & {
            color: theme("colors.blue");
        }
    }

    // Heading size adjustment for rich carousel captions on mobile devices and very small screens
    // Figure we don't need more than h1, h2, and p
    .caption {
        *:last-child {
            @apply mb-4;
        }
    }

    .article-header {
        img {
            width: 100%;
        }
    }

    .caption, .article-header {
        h1 {
            @apply text-3xl;
            @apply sm:text-4xl;
            @apply md:text-5xl;
        }
        h2 {
            @apply text-2xl;
            @apply sm:text-3xl;
            @apply md:text-4xl;
        }
        p {
            @apply md:text-xl;

            &:last-child {
                @apply mb-0;
            }
        }
    }
    
    .full-width-images img {
        width: 100%;
    }


    // Body copy
    p {
        @apply mt-0;
        @apply mb-4;
    }

    // The specificity is to unbreak breadcrumbs
    article a, .post-list a, aside a {
        @apply underline;
        @apply font-medium;

        color: theme("colors.darkblue");

        .dark & {
            color: theme("colors.blue");
        }
    }

    blockquote {
        @apply mb-4;
        @apply text-lg;
        @apply px-4;
        @apply italic;
        @apply border-l-4;
        @apply border-gray-300;
        @apply dark:border-gray-600;
    }

    // Lists
    ol, ul {
        @apply pl-8;
    }

    dl, ol, ul {
        @apply mt-0;
        @apply mb-4;
    }

    ul:not(.list-none) {
        @apply list-disc;
    }

    ol:not(.list-none) {
        @apply list-decimal;
    }

    // hr
    hr {
        @apply mb-4;
    }
}

#donation-form {
    button.active {
        @apply bg-blue;
        @apply text-black;
    }
}

.profile .grid, .post-list .grid {
    grid-template-rows: auto 1fr;
}


// Carousel tweaks
:root {
    --swiper-navigation-color: theme("colors.white");
    --swiper-theme-color: theme("colors.white");
}
.swiper-slide {
    img {
        width: 100%;
    }
}
.swiper-button-next, .swiper-button-prev {
    text-shadow: 0 0 2px theme("colors.black");
}

@supports (-webkit-text-stroke: 1px theme("colors.black")) {
    .swiper-button-next, .swiper-button-prev {
        -webkit-text-stroke: 1px theme("colors.black");
        -webkit-text-fill-color: theme("colors.white");
        text-shadow: unset;
    }
}

// Google Maps
#map {
    height: 400px;
    width: 100%;
    
    // Needed to correct text color issues in night mode
    @apply dark:text-black;
}

// Luminous lightbox tweaks
.lum-lightbox-position-helper {
    img {
        @apply mx-auto;

        max-width: 100%;
    }
}
.lum-lightbox-caption {
    @apply font-bold;
    @apply py-1;
}
.lum-lightbox {
    background: rgba(0, 0, 0, 0.85);
}