@tailwind base;
@tailwind components;
@tailwind utilities;

@import "icons";


.toggle-dot {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.05s ease-in-out;
}

input:checked ~ .toggle-dot {
    transform: translateX(100%);
}

// No clue why this isn't working but for some reason fill-current isn't actually applying stuff
// not sure if it's in the build or not, but...
.fill-current {
    fill: currentColor;
}

// @apply doesn't work properly with SCSS for some reason
.markdown {
    // Headings
    h1, h2, h3, h4, h5, h6 {
        @apply mb-2;
        
        font-family: theme("fontFamily.header");
        color: theme("colors.gray.800");

        .dark & {
            color: theme("colors.gray.100");
        }
    }
    &.font-header-alt {
        h1, h2, h3, h4, h5, h6 {
            font-family: theme("fontFamily.headerAlt");
            font-weight: bold;
        }
    }
    .profile, .post-list {
        h1, h2, h3, h4, h5, h6 {
            @apply mb-0;
        }
    }
    h1 {
        @apply text-5xl;
    }
    h2 {
        @apply text-4xl;
    }
    h3 {
        @apply text-3xl;
    }
    h4 {
        @apply text-2xl;
    }
    h5 {
        @apply text-xl;
    }
    h6 {
        @apply text-lg;
    }

    // Is there a reason why we weren't doing this before for the main .markdown class?
    // I'm not sure, so at least until something breaks in it goes
    a {
        @apply underline;
        @apply font-semibold;

        color: theme("colors.black");

        .dark & {
            color: theme("colors.blue");
        }
    }

    // Heading size adjustment for rich carousel captions on mobile devices and very small screens
    // Figure we don't need more than h1, h2, and p
    .caption {
        *:last-child {
            @apply mb-4;
        }
    }

    .article-header {
        img {
            width: 100%;
        }
    }

    .caption, .article-header {
        h1 {
            @apply text-3xl;
            @apply sm:text-4xl;
            @apply md:text-5xl;
        }
        h2 {
            @apply text-2xl;
            @apply sm:text-3xl;
            @apply md:text-4xl;
        }
        p {
            @apply md:text-xl;

            &:last-child {
                @apply mb-0;
            }
        }
    }
    
    .full-width-images img {
        width: 100%;
    }


    // Body copy
    p {
        @apply mt-0;
        @apply mb-4;
    }

    // The specificity is to unbreak breadcrumbs
    article a, .post-list a, aside a {
        @apply underline;
        @apply font-semibold;

        color: theme("colors.black");

        .dark & {
            color: theme("colors.blue");
        }
    }

    blockquote {
        @apply mb-4;
        @apply text-lg;
        @apply px-4;
        @apply italic;
        @apply border-l-4;
        @apply border-gray-300;
        @apply dark:border-gray-600;
    }

    // Lists
    ol, ul {
        @apply pl-8;
    }

    dl, ol, ul {
        @apply mt-0;
        @apply mb-4;
    }

    ul:not(.list-none) {
        @apply list-disc;
    }

    ol:not(.list-none) {
        @apply list-decimal;
    }

    // hr
    hr {
        @apply mb-4;
    }

    // Buttons
    // This selector chain is to deal with selector priority
    &, .dark & {
        a.button {
            &, article & {
                @apply w-full;
                @apply py-2;
                @apply bg-blue;
                @apply hover:bg-darkblue;
                @apply active:bg-darkblue;
                @apply text-black;
                @apply hover:text-white;
                @apply active:text-white;
                @apply rounded-md;
                @apply text-center;
                @apply no-underline;
                @apply transition;
            }
        }
    }
}

// Donation page tweaks

#donation-form {
    button.active {
        @apply bg-blue;
        @apply text-black;
    }
}

#donate-button {
    @apply text-black;
    @apply no-underline;

    &:hover {
        @apply text-white;
    }

    &:active {
        @apply text-white;
    }
}

.markdown article a > svg {
    color: theme("colors.black");
    
    .dark & {
        color: theme("colors.white");
    }
}

.profile .grid, .post-list .grid {
    grid-template-rows: auto 1fr;
}

// Newsletter modal
.modal {
    @apply hidden;

    h2 {
        @apply font-header;
        @apply mb-2;
        @apply text-4xl;
    }

    &.is-open {
        @apply block;
    }

    .overlay {
        @apply fixed;
        @apply inset-0;
        @apply flex;
        @apply items-center;
        @apply justify-center;
        @apply z-50;

        background: rgba(0,0,0,0.6);
    }

    .container {
        @apply p-6;
        @apply max-w-lg;
        @apply max-h-screen;
        @apply bg-white;
        @apply dark:bg-gray-900;
    }

    .modal-close {
        @apply font-bold;
        @apply float-right;
        @apply text-2xl;
        @apply mb-2;
    }
}

// Carousel tweaks
:root {
    --swiper-navigation-color: theme("colors.white");
    --swiper-theme-color: theme("colors.blue");
}
.swiper-slide {
    img {
        width: 100%;
    }
    
    a {
        @apply font-medium;
        color: theme("colors.blue");
    }
}
.swiper-button-next, .swiper-button-prev {
    text-shadow: 0 0 2px theme("colors.black");
}

@supports (-webkit-text-stroke: 1px theme("colors.black")) {
    .swiper-button-next, .swiper-button-prev {
        -webkit-text-stroke: 1px theme("colors.black");
        -webkit-text-fill-color: theme("colors.white");
        text-shadow: unset;
    }
}

// Google Maps
#map {
    height: 400px;
    width: 100%;
    
    // Needed to correct text color issues in night mode
    @apply dark:text-black;
}

// Luminous lightbox tweaks
.lum-lightbox-position-helper {
    img {
        @apply mx-auto;

        max-width: 100%;
        max-height: 100vh;
    }
}
.lum-lightbox-caption {
    @apply font-bold;
    @apply py-1;
}
.lum-lightbox {
    background: rgba(0, 0, 0, 0.85);
}

// Mailchimp signup form
#mc_embed_signup {
    @apply max-w-xl;

    form {
        padding: 0 !important;
    }

    input {
        @apply dark:bg-gray-900;
        @apply border;
        @apply border-gray-300;
        @apply dark:border-gray-700;
    }

    .mc-field-group {
        @apply grid;
        @apply grid-cols-12;
        @apply w-full;

        label {
            @apply col-span-full;
            @apply sm:col-span-3;
            @apply py-2;
            @apply font-bold;
        }

        input {
            @apply col-span-full;
            @apply sm:col-span-9;
            @apply p-2;
            text-indent: 0;
        }
    }

    // This is for specificity overridding
    #mc-embedded-subscribe-form {
        div.mce_inline_error {
            @apply col-span-full;
            @apply sm:col-span-9;
            @apply sm:col-start-4;
            @apply text-red-900;
            @apply dark:text-red-100;
            @apply border;
            @apply border-red-300;
            @apply dark:border-red-900;
            @apply bg-white;
            @apply dark:bg-gray-900;
            @apply p-2;
        }
    }

    // Why is this an input instead of a link or button?
    // Why do I have to nest the IDs to get the styles overridden?
    // I don't get this
    #mc-embedded-subscribe {
        @apply h-10;
        @apply inline-block;
        @apply bg-blue;
        @apply hover:bg-darkblue;
        @apply active:bg-darkblue;
        @apply text-black;
        @apply hover:text-white;
        @apply active:text-white;
        @apply block;
        @apply px-3;
        @apply py-2;
        @apply rounded-md;
        @apply text-base;
        @apply font-medium;
    }
}