{{ $original := .context.Page.Resources.GetMatch (printf "*%s*" .image) }}

{{ if not $original }}
    {{ errorf (print "Invalid image error! Image \"" .image "\" not found") }}
{{ end }}

{{ $originalProcessed := $original.Resize (print $original.Width "x jpg q80") }}

<a href="{{ $originalProcessed.RelPermalink }}" class="gallery-image" data-caption="{{ .caption }}">
    {{ partial "utility/picture.html" (dict "context" .context "image" .image "altText" .altText "command" .command "options" .options "float" .float "rounded" .rounded) }}
</a>